.form-table {
    padding: 30px 0;
}

.title {
    width: 100%;
    font-size: large;
    padding: 20px 0 20px;
    background-color: darkgrey;
    text-align: center;
}

.form-save {
    padding: 30px 0;
    text-align: center;
}

.notice-title {
    margin-bottom: 10px;
}

.notice-title > input {
    width: 70%;
}

.notice-content > textarea {
    width: 70%;
    height: 300px;

}